.menu-right {
  margin-left: auto;
}

#contect {
  background-image: url('./images/my-picture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.contect-content {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #fbc2ebea 0%, #a6c0eef1 100%);
  backdrop-filter: blur(6px);
  position: relative;
}

.big-picture {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.contect-text {
  position: absolute;
  text-align: center;
  color: #414141;

  line-height: 60px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contect-text h2 {
  font-weight: 400;
}

.contect-text p {
  font-size: 1.5rem;
}

.contect-link {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 5px 3px 5px #5252524a;
  width: 300px;
  border-radius: 20px;
  padding-inline: 12px;
  padding-block: 10px;
  margin-block: 15px;
}

.box i {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.box a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #000000;
}

.btn-link {
  transition: .2s;
}

.btn-link:hover {
  transform: scale(1.1);
}

@media (min-width:520px) {}

@media (min-width:720px) {
  .box {
    width: 450px;
  }
}


@keyframes shake {
  0% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}


@keyframes shake {
  0% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}