section {
    background-image: url('images/my-picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#contect {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.662);
    backdrop-filter: blur(6px);
    position: relative;
}
.contect-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 236, 236, 0.429);
    backdrop-filter: blur(6px);
}
.big-picture {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.contect-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.contect-link {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;    
    display: flex;
    flex-direction: column;
    line-height: 60px;

}
.contect-link a {
    border-radius: 5px;
    margin-block: 10px;
    text-decoration: none;
    color: black;
    width: 350px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font-weight:bolder;
    letter-spacing: 3px;
    padding-inline: 20px;
}
.contect-link .logo-position {
  position: absolute;
  left: 8%;
  top: 8%;
}
.btn-link {
  
    transition: .2s;
}
.btn-link:hover {
  transform: scale(1.1);
}


@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}


@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}